<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="Digital | PS4"
        gamePrice="R$ 83,50"
        gameLink="https://store.playstation.com/pt-br/product/UP0006-CUSA02429_00-BATTLEFIELD01000"
    >
    </app-card>

     <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="Disc | PS5"
        gamePrice="R$ 99,50"
        gameLink="https://store.playstation.com/pt-br/product/UP0006-CUSA00110_00-BATTLEFIELD40000"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="New"
        gameType="Digital | PS3 PS4 PS5"
        gamePrice="R$ 199,50"
        gameLink="https://store.playstation.com/pt-br/product/UP0006-CUSA08724_00-BATTLEFIELDV0000"
    >
    </app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Best of year"
        gameType="Digital | PS5"
        gamePrice="R$ R$ 299,99"
        gameLink="https://store.playstation.com/pt-br/product/UP0001-CUSA05855_00-ACOGOLDBRAZIL000"
    >
    </app-card>

       
    <app-card
        gameCover="assets/Ronin.jpg"
        gameLabel="Exclusive"
        gameType="Digital | PS5"
        gamePrice="R$ R$ 349,90"
        gameLink="https://store.playstation.com/pt-br/concept/10003386"
    >
    </app-card>

     <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Vintage"
        gameType="Disc | PS3"
        gamePrice="R$ R$ 128,88"
        gameLink="https://store.playstation.com/pt-pt/product/EP0006-CUSA00633_00-BFHSTANDARDEDITI"
    >
    </app-card>

    
</div>

